// MIXINS VERSION MOBILE, TABLET Y DESKTOP
@mixin phone {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1025px) {
    @content;
  }
}

//MIXINS-BUTTON
@mixin button($padding) {
  padding: $padding;
  margin: 10px;
  border-radius: 10px;
  background: #66d7c4;
  color: black;
  text-align: center;
  border: none;
  font-size: 17px;
  width: 168px;
  text-decoration: none;
  &:hover {
    background-color: #f7c84a;
    border-color: #f7c84a;
    cursor: pointer;
  }
}

.button-project {
  @include button(18px 37px);
}
.button-cv {
  @include button(18px);
}

@media (max-width: 324px) {
  .button-cv,
  .button-project {
    margin: 0;
  }
}
