//PALETA DE COLORES:

$grayDark: #232a34;
$turquoise: #66d7c4;
$yellow: #f7c84a;
$turquoiseDark: #007b67;
$grayLight: #f5f0f059;
$gray: #d3faf540;
$grayMedium: #2e2e31;
$graySmoke: #dddfe5;
$smoke: #fafafa;
$white: white;
$ligth: #ddd;
$black: black;

//FUENTE:
$texto: "Montserrat", "sans serif";
$texto_gray: #615e58;
