footer {
  background-color: $grayDark;
  text-align: center;
  padding: 20px;
  color: gray;
}
.container-title-github {
  margin-top: 10px;
}

.container-contacto {
  justify-content: center;
  display: flex;
}
.footer-texto {
  color: $smoke;
}

.container-footer-texto {
  color: gray;
}
