.text-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-img {
  text-align: center;
}
.foto {
  width: 300px;
  height: 300px;
}
.portada {
  width: 640px;
  margin: 20px;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
}

@include desktop {
  .home {
    padding-top: 72px;
  }
}

@include tablet {
  .home {
    flex-direction: column;
  }
}
@include phone {
  .home {
    flex-direction: column;
    padding: 60px 0 18px 0;
  }
  .portada {
    width: 100%;
    margin: 0;
  }
  .foto {
    width: 200px;
    height: 200px;
  }
  .nav-projects {
    font-size: 16px;
    width: auto;
  }
}
