.projects {
  text-align: center;
  background-color: $smoke;
  border: 1px #dddfe5 solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 330px;
  height: 287px;
  margin: 10px;
  padding: 30px;
  color: #2e2e31;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.section-projects {
  background-color: #e9ea6026;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.container-projects {
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.title-projects {
  font-weight: 700;
  font-size: 16px;
  margin-top: 0;
}
.img-projects {
  object-position: center;
  width: 280px;
  border: 2px solid $ligth;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease 0s, height 0s ease 0s;
  transition: all 0.3s ease 0s, height 0s ease 0s;
}
.botonera-proyectos {
  justify-content: center;
  padding: 20px 0;
  margin: 20px auto 10px auto;
}
.container-texts-project {
  padding-left: 60px;
}
.menu-proyectos {
  font-size: 16px;
  border: none;
  padding: 15px 40px;
  text-decoration: none;
  border-radius: 25px;
  transition: 0.4s;
  text-align: center;
}

.menu-proyectos:hover {
  border-radius: 25px;
  color: #d3faf5;
  cursor: pointer;
}
.container-title-project {
  margin-left: 70px;
  font-size: 2em;
}
i {
  font-size: 30px;
  color: gray;
  padding: 10px;
}

.container-github-enlace {
  display: flex;
  justify-content: center;
  align-items: center;
}
.space-project {
  padding: 18px 37px;
  background: #fcfce7;
  margin: 10px;
  color: black;
  text-align: center;
  border: none;
  font-size: 19px;
  width: 145px;
}
.hidden {
  display: none;
}

.space-project:hover {
  border-bottom: 3px solid #232a35;
}

.space-project:focus {
  border-bottom: 3px solid #232a35;
}

.active {
  border-bottom: 3px solid #232a35;
}
.animation {
  overflow: hidden;
}
@include desktop {
  .img-projects {
    width: 328px;
    -webkit-transition: all 0.3s ease 0s, height 0s ease 0s;
    transition: all 0.3s ease 0s, height 0s ease 0s;
  }
}
@include tablet {
  .img-projects {
    margin: 5px 35px 5px 35px;
    width: 268px;
  }
}
@include phone {
  .container-projects {
    margin-top: 0;
  }
  .container-texts-project {
    padding-left: 19px;
  }
  .menu-proyectos {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}
