.section-skills {
  background-color: $gray;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.container-skills {
  display: flex;
  width: 80%;
  padding: 30px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skills {
  background-color: $smoke;
  border: 1px $graySmoke solid;
  border-radius: 10px;
  width: 146px;
  height: 107px;
  margin: 10px;
  padding: 30px;
  color: $grayMedium;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-skills {
  text-align: center;
}

.p-titulo-skills {
  font-weight: 700;
  font-size: 20px;
}
